body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: relative;
}

nav a.brand-logo {
    font-size: 1.5rem;
}

nav ul a {
    font-size: 1.2rem;
}

header {
    padding: 20px 0;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.skills {
    padding: 40px 0;
}

.skills i {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;
    border-radius: 5px;
}
